@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to lan_week - Gaming Club</h1>

    <h3>About Us</h4>
    <p>Welcome to LAN_Week, the ultimate destination for gaming enthusiasts and LAN technology aficionados! We are a vibrant community dedicated to bringing together gamers and tech enthusiasts who share a passion for Local Area Network (LAN) gaming and technology.</p>

    <h4>Weekly Lan Competitions</h4>
    <p>Every week, we host exciting LAN gaming competitions where players of all skill levels come together to battle it out in the latest and most popular games. From intense first-person shooters to strategic real-time strategy games, our competitions offer a diverse range of genres to cater to every gamer's taste. Join us to showcase your skills, meet fellow gamers, and enjoy an electrifying gaming atmosphere!</p>

    <h4>Latest in LAN Technology</h4>
    <p>At LAN_Week, we're not just about gaming; we're also a hub for the latest in LAN technology. Stay ahead of the curve with our insightful news articles and updates. Explore topics ranging from cutting-edge networking hardware to innovative software solutions that are shaping the future of LAN gaming and connectivity.</p>

    <h4>Join out Community</h4>
    <p>Whether you're a hardcore gamer, a networking guru, or just starting out, LAN_Week is the place for you. Join our community to engage in thrilling competitions, learn about the latest in LAN technology, and connect with like-minded individuals. Sign up for our newsletter to stay updated on upcoming events, tech news, and more.</p>
</div>
