@model IEnumerable<NewsArticle>

<h1>All News Articles</h1>

@foreach (var article in Model)
{
    <div>
        <h3>@article.Title</h3>
        <p>@article.Content</p>
        <p>Published on @article.PublishedDate.ToShortDateString() by @article.AuthorId</p>
    </div>
}
